{% extends 'base/main.html' %}
{% block content %}
<h1>{{item.name}}</h1>
<p>{{item.description}}</p>
<p>{{item.price}} RUB</p>
{% if added_to_cart %}
    <p>Added to cart</p>
{% else %}
    <button class="universal_button" id="buy-button">Buy</button>
    <button class="universal_button" id="add-to-cart-button">Add to cart</button>

    <script>
      var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', async function() {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        var response = await fetch('/buy/' + {{item.id}}, {method: 'GET'});
        var response_json = await response.json();
        session = response_json.session_id;
        stripe.redirectToCheckout({ sessionId: session });
      });

      var addButton = document.getElementById('add-to-cart-button');
      addButton.addEventListener('click', async function() {
        var response = await fetch('/add_to_order/' + {{item.id}}, {method: 'GET'});
        document.location.reload(true);
      });
    </script>
{% endif %}
{% endblock %}
